<nav class="navbar navbar-toggleable-md navbar-light navbar-fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img alt="Brand" height="50px" src="../assets/imagen/logoConsulVenBcn2.0.png">
  </a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/transfers" routerLinkActive="active">Transfers</a>
      <a class="nav-item nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
      <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">Job 7</a>
    </div>
  </div>
</nav>
